:root {
  --text-color: cornsilk;
  --backgr-color: #202223;
  --first-color: #454A4D;
  --second-color: #657179;
  --third-color: #8B9DA8;
  --fourth-color:#299DEC;
  --fifth-color: #FF964E;
}

* {
  box-sizing: border-box;
  font-family: 'Azeret Mono', monospace;
}

body {
  margin: 0;
  background-color: var(--backgr-color);
  color: var(--text-color);
}

body.dark {
  --text-color: cornsilk;
  --backgr-color: #202223;
  --first-color: #454A4D;
  --second-color: #657179 ;
  --third-color: #8B9DA8;
  --fourth-color:#299DEC;
  --fifth-color: #FF964E;
}

body.white {
  --text-color: #2b2b2b;
  --backgr-color: #FCF8E8;
  --first-color: #D5D2C6;
  --second-color: #D3D3D3;
  --third-color:#AAAAAA;
  --fourth-color:#A8EF7F;
  --fifth-color: #C67FEF;
}
/* FEA3FA  5F3D5E*/
body.colorful {
  --text-color: #5F3D5E;
  --backgr-color: #A7A3FE;
  --first-color: #FFC6FC;
  --second-color: #8884f4;
  --third-color: #a788da;
  --fourth-color:#DFBAF7;
  --fifth-color: #6C4E99;
}

.header{
  /* border: solid 3px salmon; */
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
}

.link{
  display: inline;
}

.button{
  /* border: solid 0.2rem var(--second-color); */
  padding: 1rem;
  background-color: var(--first-color);
  margin-left: 1rem;
  margin-right: 1rem;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

.button::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.5rem;
  background-color: var(--fifth-color);
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
}

.button:hover::before,
.button:focus::before{
  transform:scaleX(1);
}



.disable-button{
  opacity: 0.6
}

.main{
  /* border: solid 1rem antiquewhite; */
  display: grid;
  height: 87vh;
  grid-template-columns: 25% 75%;
  background-color: var(--first-color);

}

.slider{
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  opacity: 0.7;
  height: 5px;
  border-radius: 10px;  
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left: 1rem;
  margin-right: 1rem;
}

.slider:hover{
  opacity: 1;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none; 
  appearance: none;
  width: 25px;
  height: 25px; 
  border-radius: 50%; 
  background: var(--fourth-color); 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px;
  border-radius: 50%;  
  background: var(--fourth-color); 
  cursor: pointer; 
}

.side-bar{
  /* border: solid 1rem darkviolet; */
  background-color: var(--third-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

}

.shuffle-play-container{
  display: grid;
  grid-template-columns: 50% 50%;
}

.footer {
  text-align: center;
  background-color: var(--second-color);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sort-container{
  /* border: solid 1rem #ff8496; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.bar{
  border: solid 2px deeppink;
  background-color: var(--fifth-color);
  width: 2rem;
  height: 2%;
  margin-bottom: 4rem;

}


